<nav class="navbar navbar-light w-100">
    <a href="/" class="navbar-brand">
        <img src="/img/logo SS.png">
    </a>
    <h1 class="text-light font-weight-bold display-4 navTitle" id="title"></h1>
    <span class="text-light font-weight-bold display-4" id="time"></span>
</nav>
<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/img/logo SS.png" alt="SuperSonicLogo" height="80" width="160">
</div>