html {
    height: 100%;
}

body {
    background-color: #eceff1;
    overflow: auto;
    height: 100%;
    font-family: "Poppins", Arial, sans-serif;
}

.navbar {
    background-color: #212529;
    height: 6rem;
}

.navbar-brand {
    width: 200px;
}

.navbar img {
    width: 100%;
    -webkit-filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
}

.containerPage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 80%;
    height: 100%;
}

.tableDiv {
    position: absolute;
    top: 100px;
    height: 80%;
    width: 100%;
}

.wrapper {
    position: absolute;
    top: 6rem;
    min-height: 80% !important;
    width: 90%;
}

.content-wrapper {
    background-color: #eceff1;
}

.graph {
    background: hsla(246, 66%, 28%, 1);
    background: linear-gradient(45deg, hsla(246, 66%, 28%, 1) 0%, hsla(246, 68%, 63%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(246, 66%, 28%, 1) 0%, hsla(246, 68%, 63%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(246, 66%, 28%, 1) 0%, hsla(246, 68%, 63%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#221875", endColorstr="#6E61E1", GradientType=1);
}

.tab-content {
    height: 700px;
}

.tab-content.form-user {
    height: 100%;
}

.tab-content.armazenagemGraph {
    height: 750px;
}

.tab-pane {
    position: relative;
    height: 100%;
}

.chart {
    min-height: 100%;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
}

.nav-link.active {
    background-color: #ffc107 !important;
}

.nav-link.active.form-user {
    background-color: #212529 !important;
    color: #ffffff;
    font-weight: bold;
}

.nav-link.form-user {
    color: #212529;
    font-weight: bold;
}

.navDiv {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.tableDiv thead th {
    position: sticky;
    top: 99px;
    background-color: #ECEFF1;
}

.tableDiv tbody {
    position: relative;
    top: 0px;
    z-index: -1;
}

.card-header h2 {
    font-size: 2rem;
}

.knob {
    color: #fff !important;
}

@media (max-width: 1070px) {
    .navTitle {
        display: none;
    }

    .igestCard {
        height: 850px;
    }
}

.btnIgest {
    margin-right: 15px;
}

.btn-login {
    background-color: #fcd526;
}

.btn-login:hover {
    background-color: #212529;
}

.black {
    color: #212529;
}

.yellow {
    color: #fcd526;
}

.bg-black {
    background-color: #212529;
}

.bg-yellow {
    background-color: #fcd526;
}

.login-page {
    background-image: url("../img/login-page3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
}


.label-float {
    position: relative;
    padding-top: 1rem;
}

.label-float input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

.label-float input:focus {
    border: 2px solid #3951b2;
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    color: #afafaf;
}

.label-float .form-control.is-invalid+label {
    top: calc(50% - 1.2rem);
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 1rem;
    top: 0 !important;
    color: #3951b2;
}

.login-input {
    height: 3rem;
}

.login-error {
    border-color: #dc3545;
    padding-right: 2.25rem !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.container.user {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.wrapper.user {
    width: 100%;
}

.header-title {
    padding: 0.4rem 1.25rem;
    margin-bottom: -1rem;
    border-bottom: 1px solid rgba(29, 118, 227, 0.39);
    width: 98%;
    font-weight: bold;
    font-size: 2rem;
}

.card-header.quotation-card-header {
    border: none;
}

.form-group.login-group {
    margin-bottom: 0rem;
}

.form-group>label {
    color: rgb(48, 63, 77);
}

.quotation-form-control {
    padding: 1rem;
    border: 1px solid rgb(213, 214, 219);
    border-radius: 4px;
    color: rgb(73, 80, 87);
    font-size: 1rem;
    margin: 0;
    height: 3.5rem;
}

.select2-container .select2-selection--single {
    padding: 1rem;
    border: 1px solid rgb(213, 214, 219);
    height: 3.5rem;
}

.select2-selection__arrow {
    margin-top: 1rem;
}

.input-group-text {
    background-color: #fff;
    font-weight: bold;
}

.input-group-text.is-invalid {
    border-color: #dc3545;
}

.form-control-input {
    border-right: none;
}

.select2.is-invalid .select2-selection {
    border-color: #dc3545;
}

@media (max-width: 992px) {
    .img-div {
        display: none;
    }
}

@media print {
    
    * {
        background-color: #fff !important;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    @page {
        margin: 0;
        margin-top: -6%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .card {
        width: 100% !important;
        height: 100% !important;
        top: 0;
    }

    .bg-black {
        background-color: #212529 !important;
        color: #fff !important;
        print-color-adjust: exact !important;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.image-quotation {
    width: 100%;
}

.required:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(241, 99, 52);
    margin-left: 8px;
    vertical-align: middle;
}

.btn-quotation {
    background-color: #fcd526;
    color: #fff;
    font-weight: bold;
}

.btn-quotation:hover {
    background-color: #212529;
    color: #fff;
}

.quotation-doc {
    width: 80%;
}