<%- include('../partials/header.ejs') %>
    <body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
        <%- include('../partials/navbar2.ejs') %>
        <div class="wrapper user">
            <%- include('../partials/sidebar.ejs') %>
            <div class="container user">
                <div class="content-wrapper">

                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>
    <script>

    </script>